In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Objectif du notebook

- étudier à quel point les jeux de données sont complets et les fusionner

## Import des données

In [2]:
path_to_salary = 'clean_data/salary_clean.csv'
path_to_geography = 'clean_data/geography_clean.csv'
path_to_entreprises = 'clean_data/entreprises_clean.csv'
path_to_conso_moy = 'clean_data/conso_moyenne_clean.csv'
path_to_population = 'clean_data/population_clean.csv'

### Salaires

In [3]:
salary = pd.read_csv(path_to_salary)
salary.head()

,codgeo,libgeo,salaire_moyen,salaire_moyen_cad,salaire_moyen_prof_int,salaire_moyen_emp,salaire_moyen_ouv,salaire_moyen_fem,salaire_moyen_fem_cad,salaire_moyen_fem_prof_int,...,salaire_moyen_18-26,salaire_moyen_26-50,salaire_moyen_50+,salaire_moyen_fem_18-26,salaire_moyen_fem_26-50,salaire_moyen_fem_50+,salaire_moyen_hom_18-26,salaire_moyen_hom_26-50,salaire_moyen_hom_50+,numero_departement
0,1004,Ambérieu-en-Bugey,13.7,24.2,15.5,10.3,11.2,11.6,19.1,13.2,...,10.5,13.7,16.1,9.7,11.8,12.5,11.0,14.9,18.6,1
1,1007,Ambronay,13.5,22.1,14.7,10.7,11.4,11.9,19.0,13.3,...,9.8,13.8,14.6,9.2,12.2,12.5,10.2,14.9,16.4,1
2,1014,Arbent,13.5,27.6,15.6,11.1,11.1,10.9,19.5,11.7,...,9.3,13.3,16.0,8.9,10.6,12.5,9.6,15.1,18.6,1
3,1024,Attignat,12.9,21.8,14.1,11.0,11.3,11.4,19.0,13.0,...,9.6,12.9,14.2,9.3,11.4,12.2,9.7,13.8,15.9,1
4,1025,Bâgé-la-Ville,13.0,22.8,14.1,10.5,11.1,11.6,19.4,13.6,...,9.4,12.8,15.2,9.0,11.8,12.3,9.7,13.4,16.9,1

In [4]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5023 entries, 0 to 5022
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   codgeo                      5023 non-null   int64
 1   libgeo                      5023 non-null   object
 2   salaire_moyen               5023 non-null   float64
 3   salaire_moyen_cad           5023 non-null   float64
 4   salaire_moyen_prof_int      5023 non-null   float64
 5   salaire_moyen_emp           5023 non-null   float64
 6   salaire_moyen_ouv           5023 non-null   float64
 7   salaire_moyen_fem           5023 non-null   float64
 8   salaire_moyen_fem_cad       5023 non-null   float64
 9   salaire_moyen_fem_prof_int  5023 non-null   float64
 10  salaire_moyen_fem_emp       5023 non-null   float64
 11  salaire_moyen_fem_ouv       5023 non-null   float64
 12  salaire_moyen_hom           5023 non-null   float64
 13  salaire_moyen_hom_cad       5023 non-null   float64
 14  salaire_moyen_hom_prof_int  5023 non-null   float64
 15  salaire_moyen_hom_emp       5023 non-null   float64
 16  salaire_moyen_hom_ouv       5023 non-null   float64
 17  salaire_moyen_18-26         5023 non-null   float64
 18  salaire_moyen_26-50         5023 non-null   float64
 19  salaire_moyen_50+           5023 non-null   float64
 20  salaire_moyen_fem_18-26     5023 non-null   float64
 21  salaire_moyen_fem_26-50     5023 non-null   float64
 22  salaire_moyen_fem_50+       5023 non-null   float64
 23  salaire_moyen_hom_18-26     5023 non-null   float64
 24  salaire_moyen_hom_26-50     5023 non-null   float64
 25  salaire_moyen_hom_50+       5023 non-null   float64
 26  numero_departement          5023 non-null   int64
dtypes: float64(24), int64(2), object(1)
memory usage: 1.0+ MB

### Geographie

In [5]:
geography = pd.read_csv(path_to_geography)
geography.head()

,numero_departement,nom_commune,code_region,nom_region,codgeo,latitude,longitude
0,1,Ambléon,82,Rhône-Alpes,1006,45.750000,5.600000
1,1,Ambronay,82,Rhône-Alpes,1007,46.000000,5.350000
2,1,Ambutrix,82,Rhône-Alpes,1008,45.933333,5.333333
3,1,Ambérieu-en-Bugey,82,Rhône-Alpes,1004,45.950000,5.350000
4,1,Ambérieux-en-Dombes,82,Rhône-Alpes,1005,46.000000,4.900000

In [6]:
geography.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33395 entries, 0 to 33394
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   numero_departement  33395 non-null  int64
 1   nom_commune         33395 non-null  object
 2   code_region         33395 non-null  int64
 3   nom_region          33395 non-null  object
 4   codgeo              33395 non-null  int64
 5   latitude            33395 non-null  float64
 6   longitude           33395 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.8+ MB

### Population

In [7]:
population = pd.read_csv(path_to_population)
population.head()

,libgeo,codgeo,pop_total,pop_age_0-5,pop_age_5-10,pop_age_10-15,pop_age_15-20,pop_age_20-25,pop_age_25-30,pop_age_30-35,...,pop_age_80+,pop_sexe_homme,pop_sexe_femme,pop_mode_cohabitation_enfant_dun_couple,pop_mode_cohabitation_enfant_dune_famille_monoparentale,pop_mode_cohabitation_adulte_dun_couple_sans_enfant,pop_mode_cohabitation_adulte_dun_couple_avec_enfant(s),pop_mode_cohabitation_adulte_dune_famille_monoparentale,pop_mode_cohabitation_personne_vivant_hors_famille_dans_un_menage_de_plusieurs_personnes,pop_mode_cohabitation_personne_vivant_seule
0,Aast,64001,144,15,10,10,0,0,0,10,...,0,74,70,41,0,27,53,0,7,16
1,Abainville,55001,272,4,18,23,22,13,8,8,...,12,139,133,80,0,80,88,0,0,24
2,Abancourt,59001,436,24,24,32,28,28,28,8,...,24,216,220,120,20,96,136,16,16,32
3,Abancourt,60001,592,68,53,27,13,40,66,91,...,13,297,295,176,12,160,179,12,4,49
4,Abaucourt,54001,290,15,25,15,20,0,15,30,...,25,140,150,50,35,80,60,25,0,40

In [8]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35396 entries, 0 to 35395
Data columns (total 29 columns):
 #   Column                                                                                    Non-Null Count  Dtype
---  ------                                                                                    --------------  -----
 0   libgeo                                                                                    35396 non-null  object
 1   codgeo                                                                                    35396 non-null  int64
 2   pop_total                                                                                 35396 non-null  int64
 3   pop_age_0-5                                                                               35396 non-null  int64
 4   pop_age_5-10                                                                              35396 non-null  int64
 5   pop_age_10-15                                                                             35396 non-null  int64
 6   pop_age_15-20                                                                             35396 non-null  int64
 7   pop_age_20-25                                                                             35396 non-null  int64
 8   pop_age_25-30                                                                             35396 non-null  int64
 9   pop_age_30-35                                                                             35396 non-null  int64
 10  pop_age_35-40                                                                             35396 non-null  int64
 11  pop_age_40-45                                                                             35396 non-null  int64
 12  pop_age_45-50                                                                             35396 non-null  int64
 13  pop_age_50-55                                                                             35396 non-null  int64
 14  pop_age_55-60                                                                             35396 non-null  int64
 15  pop_age_60-65                                                                             35396 non-null  int64
 16  pop_age_65-70                                                                             35396 non-null  int64
 17  pop_age_70-75                                                                             35396 non-null  int64
 18  pop_age_75-80                                                                             35396 non-null  int64
 19  pop_age_80+                                                                               35396 non-null  int64
 20  pop_sexe_homme                                                                            35396 non-null  int64
 21  pop_sexe_femme                                                                            35396 non-null  int64
 22  pop_mode_cohabitation_enfant_dun_couple                                                   35396 non-null  int64
 23  pop_mode_cohabitation_enfant_dune_famille_monoparentale                                   35396 non-null  int64
 24  pop_mode_cohabitation_adulte_dun_couple_sans_enfant                                       35396 non-null  int64
 25  pop_mode_cohabitation_adulte_dun_couple_avec_enfant(s)                                    35396 non-null  int64
 26  pop_mode_cohabitation_adulte_dune_famille_monoparentale                                   35396 non-null  int64
 27  pop_mode_cohabitation_personne_vivant_hors_famille_dans_un_menage_de_plusieurs_personnes  35396 non-null  int64
 28  pop_mode_cohabitation_personne_vivant_seule                                               35396 non-null  int64
dtypes: int64(28), object(1)
memory usage: 7.8+ MB

### Entreprises

In [9]:
entreprises = pd.read_csv(path_to_entreprises)
entreprises.head()

,codgeo,libgeo,nb_ent,nb_ent_0,nb_ent_1-5,nb_ent_6-10,nb_ent_11-20,nb_ent_21-50,nb_ent_51-99,nb_ent_100-199,nb_ent_200-499,nb_ent_500+
0,1001,L'Abergement-Clémenciat,25,22,1,2,0,0,0,0,0,0
1,1002,L'Abergement-de-Varey,10,9,1,0,0,0,0,0,0,0
2,1004,Ambérieu-en-Bugey,996,577,272,63,46,24,9,3,2,0
3,1005,Ambérieux-en-Dombes,99,73,20,3,1,2,0,0,0,0
4,1006,Ambléon,4,4,0,0,0,0,0,0,0,0

In [10]:
entreprises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36192 entries, 0 to 36191
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   codgeo          36192 non-null  int64
 1   libgeo          36192 non-null  object
 2   nb_ent          36192 non-null  int64
 3   nb_ent_0        36192 non-null  int64
 4   nb_ent_1-5      36192 non-null  int64
 5   nb_ent_6-10     36192 non-null  int64
 6   nb_ent_11-20    36192 non-null  int64
 7   nb_ent_21-50    36192 non-null  int64
 8   nb_ent_51-99    36192 non-null  int64
 9   nb_ent_100-199  36192 non-null  int64
 10  nb_ent_200-499  36192 non-null  int64
 11  nb_ent_500+     36192 non-null  int64
dtypes: int64(11), object(1)
memory usage: 3.3+ MB

### Consommation moyenne

In [11]:
conso = pd.read_csv(path_to_conso_moy)
conso.head()

,codgeo,libelle_commune,code_departement,nombre_de_points_total,consommation_totale,nombre_de_points_filiere_electricité,consommation_filiere_electricité,nombre_de_points_filiere_gaz,consommation_filiere_gaz,nombre_de_points_libelle_categorie_consommation_entreprises,...,nombre_de_points_libelle_grand_secteur_agriculture,consommation_libelle_grand_secteur_agriculture,nombre_de_points_libelle_grand_secteur_industrie,consommation_libelle_grand_secteur_industrie,nombre_de_points_libelle_grand_secteur_secteur inconnu,consommation_libelle_grand_secteur_secteur inconnu,nombre_de_points_libelle_grand_secteur_tertiaire,consommation_libelle_grand_secteur_tertiaire,nombre_de_points_libelle_grand_secteur_résidentiel,consommation_libelle_grand_secteur_résidentiel
0,1001,L'Abergement-Clémenciat,1,2857,2.344825e+04,2857,23448.248713,0.0,0.000000,3.0,...,19.0,586.278254,1.0,52.530973,3.0,55.209301,19.0,417.716605,2815,22336.513579
1,1002,L'Abergement-de-Varey,1,1659,9.722714e+03,1659,9722.713779,0.0,0.000000,0.0,...,3.0,74.899964,0.0,0.000000,0.0,0.000000,37.0,166.101485,1619,9481.712330
2,1004,Ambérieu-en-Bugey,1,103418,1.269513e+06,76099,663813.915433,27319.0,605698.721551,1150.0,...,0.0,0.000000,335.0,38951.348807,468.0,4785.467174,3205.0,360212.285712,99410,865563.535292
3,1005,Ambérieux-en-Dombes,1,3292,2.468520e+04,3292,24685.198000,0.0,0.000000,85.0,...,76.0,540.749000,0.0,0.000000,144.0,2296.911000,56.0,469.940000,3016,21377.598000
4,1006,Ambléon,1,359,2.011133e+03,359,2011.133074,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,359,2011.133074

In [12]:
conso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34471 entries, 0 to 34470
Data columns (total 29 columns):
 #   Column                                                                               Non-Null Count  Dtype
---  ------                                                                               --------------  -----
 0   codgeo                                                                               34471 non-null  int64
 1   libelle_commune                                                                      34471 non-null  object
 2   code_departement                                                                     34471 non-null  int64
 3   nombre_de_points_total                                                               34471 non-null  int64
 4   consommation_totale                                                                  34471 non-null  float64
 5   nombre_de_points_filiere_electricité                                                 34471 non-null  int64
 6   consommation_filiere_electricité                                                     34471 non-null  float64
 7   nombre_de_points_filiere_gaz                                                         34471 non-null  float64
 8   consommation_filiere_gaz                                                             34471 non-null  float64
 9   nombre_de_points_libelle_categorie_consommation_entreprises                          34471 non-null  float64
 10  consommation_libelle_categorie_consommation_entreprises                              34471 non-null  float64
 11  nombre_de_points_libelle_categorie_consommation_non renseigne                        34471 non-null  float64
 12  consommation_libelle_categorie_consommation_non renseigne                            34471 non-null  float64
 13  nombre_de_points_libelle_categorie_consommation_petits professionels                 34471 non-null  float64
 14  consommation_libelle_categorie_consommation_petits professionels                     34471 non-null  float64
 15  nombre_de_points_libelle_categorie_consommation_résidentiel                          34471 non-null  float64
 16  consommation_libelle_categorie_consommation_résidentiel                              34471 non-null  float64
 17  nombre_de_points_libelle_categorie_consommation_résidentiel + petits professionnels  34471 non-null  int64
 18  consommation_libelle_categorie_consommation_résidentiel + petits professionnels      34471 non-null  float64
 19  nombre_de_points_libelle_grand_secteur_agriculture                                   34471 non-null  float64
 20  consommation_libelle_grand_secteur_agriculture                                       34471 non-null  float64
 21  nombre_de_points_libelle_grand_secteur_industrie                                     34471 non-null  float64
 22  consommation_libelle_grand_secteur_industrie                                         34471 non-null  float64
 23  nombre_de_points_libelle_grand_secteur_secteur inconnu                               34471 non-null  float64
 24  consommation_libelle_grand_secteur_secteur inconnu                                   34471 non-null  float64
 25  nombre_de_points_libelle_grand_secteur_tertiaire                                     34471 non-null  float64
 26  consommation_libelle_grand_secteur_tertiaire                                         34471 non-null  float64
 27  nombre_de_points_libelle_grand_secteur_résidentiel                                   34471 non-null  int64
 28  consommation_libelle_grand_secteur_résidentiel                                       34471 non-null  float64
dtypes: float64(22), int64(6), object(1)
memory usage: 7.6+ MB

## Récupération des codes geo

In [13]:
cod_geos = {
    'ent': entreprises['codgeo'].unique(),
    'sal': salary['codgeo'].unique(),
    'geo': geography['codgeo'].unique(),
    'cons':conso['codgeo'].unique(),
    'pop': population['codgeo'].unique()
}

In [14]:
# vérification de l'unicité
print('entreprises: ', entreprises[['codgeo']].duplicated().sum())
print('salaires: ', salary[['codgeo']].duplicated().sum())
print('geographie: ', geography[['codgeo']].duplicated().sum())
print('consommation: ', conso[['codgeo']].duplicated().sum())
print('population: ', population[['codgeo']].duplicated().sum())

entreprises:  0
salaires:  0
geographie:  0
consommation:  0
population:  0

In [15]:
# on met salary de côté pour l'instant

print('salaires: ', len(cod_geos['sal']))
print('entreprises: ', len(cod_geos['ent']))
print('population: ', len(cod_geos['pop']))
print('geographie: ', len(cod_geos['geo']))
print('consommation: ', len(cod_geos['cons']))

salaires:  5023
entreprises:  36192
population:  35396
geographie:  33395
consommation:  34471

## Méthodologie

On va se servir de `geography` comme base. On va regarder pour chaque jeu de données, les codes manquants et les codes en plus

In [16]:
differences = {}

for key1 in cod_geos:
    for key2 in cod_geos:
        diff_temp = set(cod_geos[key1]).difference(cod_geos[key2])
        differences['{}-{}'.format(key1, key2)] = {
            'nb': len(diff_temp),
            'diff': diff_temp
        }

### Fusion de géographie et entreprises

In [17]:
geo_ent = pd.merge(
    left=geography,
    right=entreprises,
    on=['codgeo'],
    how='left'
)

In [18]:
geo_ent.head()

,numero_departement,nom_commune,code_region,nom_region,codgeo,latitude,longitude,libgeo,nb_ent,nb_ent_0,nb_ent_1-5,nb_ent_6-10,nb_ent_11-20,nb_ent_21-50,nb_ent_51-99,nb_ent_100-199,nb_ent_200-499,nb_ent_500+
0,1,Ambléon,82,Rhône-Alpes,1006,45.750000,5.600000,Ambléon,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Ambronay,82,Rhône-Alpes,1007,46.000000,5.350000,Ambronay,124.0,87.0,20.0,10.0,5.0,2.0,0.0,0.0,0.0,0.0
2,1,Ambutrix,82,Rhône-Alpes,1008,45.933333,5.333333,Ambutrix,48.0,28.0,15.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0
3,1,Ambérieu-en-Bugey,82,Rhône-Alpes,1004,45.950000,5.350000,Ambérieu-en-Bugey,996.0,577.0,272.0,63.0,46.0,24.0,9.0,3.0,2.0,0.0
4,1,Ambérieux-en-Dombes,82,Rhône-Alpes,1005,46.000000,4.900000,Ambérieux-en-Dombes,99.0,73.0,20.0,3.0,1.0,2.0,0.0,0.0,0.0,0.0

In [19]:
col = 'nb_ent'
geo_ent[['nom_region', col]].groupby(['nom_region']).agg({col: lambda x: x.isna().mean()})

                              nb_ent
nom_region
Alsace                      0.000000
Aquitaine                   0.000000
Auvergne                    0.000000
Basse-Normandie             0.000596
Bourgogne                   0.000532
Bretagne                    0.000000
Centre                      0.000580
Champagne-Ardenne           0.000000
Franche-Comté               0.000000
Haute-Normandie             0.000000
Languedoc-Roussillon        0.000000
Limousin                    0.000000
Lorraine                    0.000456
Midi-Pyrénées               0.000367
Nord-Pas-de-Calais          0.001363
Pays de la Loire            0.004332
Picardie                    0.000000
Poitou-Charentes            0.001519
Provence-Alpes-Côte d'Azur  0.003429
Rhône-Alpes                 0.001903
Île-de-France               0.000000

In [20]:
geo_ent.isna().sum()

numero_departement     0
nom_commune            0
code_region            0
nom_region             0
codgeo                 0
latitude               0
longitude              0
libgeo                23
nb_ent                23
nb_ent_0              23
nb_ent_1-5            23
nb_ent_6-10           23
nb_ent_11-20          23
nb_ent_21-50          23
nb_ent_51-99          23
nb_ent_100-199        23
nb_ent_200-499        23
nb_ent_500+           23
dtype: int64

In [21]:
# geo_ent = geo_ent.dropna()

In [21]:
geo_ent_pop = pd.merge(
    left=geo_ent,
    right=population,
    on=['codgeo'],
    how='left'
)

geo_ent_pop.head()

,numero_departement,nom_commune,code_region,nom_region,codgeo,latitude,longitude,libgeo_x,nb_ent,nb_ent_0,...,pop_age_80+,pop_sexe_homme,pop_sexe_femme,pop_mode_cohabitation_enfant_dun_couple,pop_mode_cohabitation_enfant_dune_famille_monoparentale,pop_mode_cohabitation_adulte_dun_couple_sans_enfant,pop_mode_cohabitation_adulte_dun_couple_avec_enfant(s),pop_mode_cohabitation_adulte_dune_famille_monoparentale,pop_mode_cohabitation_personne_vivant_hors_famille_dans_un_menage_de_plusieurs_personnes,pop_mode_cohabitation_personne_vivant_seule
0,1,Ambléon,82,Rhône-Alpes,1006,45.750000,5.600000,Ambléon,4.0,4.0,...,8.0,44.0,40.0,12.0,4.0,32.0,16.0,4.0,0.0,16.0
1,1,Ambronay,82,Rhône-Alpes,1007,46.000000,5.350000,Ambronay,124.0,87.0,...,90.0,1229.0,1334.0,635.0,135.0,600.0,700.0,90.0,135.0,268.0
2,1,Ambutrix,82,Rhône-Alpes,1008,45.933333,5.333333,Ambutrix,48.0,28.0,...,12.0,357.0,307.0,184.0,25.0,144.0,208.0,22.0,10.0,71.0
3,1,Ambérieu-en-Bugey,82,Rhône-Alpes,1004,45.950000,5.350000,Ambérieu-en-Bugey,996.0,577.0,...,637.0,6477.0,6983.0,2885.0,1026.0,3196.0,3080.0,642.0,390.0,2241.0
4,1,Ambérieux-en-Dombes,82,Rhône-Alpes,1005,46.000000,4.900000,Ambérieux-en-Dombes,99.0,73.0,...,75.0,815.0,780.0,455.0,75.0,380.0,490.0,45.0,25.0,125.0

In [22]:
geo_ent_pop.isna().sum()

numero_departement                                                                            0
nom_commune                                                                                   0
code_region                                                                                   0
nom_region                                                                                    0
codgeo                                                                                        0
latitude                                                                                      0
longitude                                                                                     0
libgeo_x                                                                                     23
nb_ent                                                                                       23
nb_ent_0                                                                                     23
nb_ent_1-5                                                                                   23
nb_ent_6-10                                                                                  23
nb_ent_11-20                                                                                 23
nb_ent_21-50                                                                                 23
nb_ent_51-99                                                                                 23
nb_ent_100-199                                                                               23
nb_ent_200-499                                                                               23
nb_ent_500+                                                                                  23
libgeo_y                                                                                    766
pop_total                                                                                   766
pop_age_0-5                                                                                 766
pop_age_5-10                                                                                766
pop_age_10-15                                                                               766
pop_age_15-20                                                                               766
pop_age_20-25                                                                               766
pop_age_25-30                                                                               766
pop_age_30-35                                                                               766
pop_age_35-40                                                                               766
pop_age_40-45                                                                               766
pop_age_45-50                                                                               766
pop_age_50-55                                                                               766
pop_age_55-60                                                                               766
pop_age_60-65                                                                               766
pop_age_65-70                                                                               766
pop_age_70-75                                                                               766
pop_age_75-80                                                                               766
pop_age_80+                                                                                 766
pop_sexe_homme                                                                              766
pop_sexe_femme                                                                              766
pop_mode_cohabitation_enfant_dun_couple                                                     766
pop_mode_cohabitation_enfant_dune_famille_monoparentale                                     766
pop_mode_cohabitation_adulte_dun_couple_sans_enfant                                         766
pop_mode_cohabitation_adulte_dun_couple_avec_enfant(s)                                      766
pop_mode_cohabitation_adulte_dune_famille_monoparentale                                     766
pop_mode_cohabitation_personne_vivant_hors_famille_dans_un_menage_de_plusieurs_personnes    766
pop_mode_cohabitation_personne_vivant_seule                                                 766
dtype: int64

In [23]:
population[population['codgeo'].isin(differences['pop-geo']['diff'])].describe()

,codgeo,pop_total,pop_age_0-5,pop_age_5-10,pop_age_10-15,pop_age_15-20,pop_age_20-25,pop_age_25-30,pop_age_30-35,pop_age_35-40,...,pop_age_80+,pop_sexe_homme,pop_sexe_femme,pop_mode_cohabitation_enfant_dun_couple,pop_mode_cohabitation_enfant_dune_famille_monoparentale,pop_mode_cohabitation_adulte_dun_couple_sans_enfant,pop_mode_cohabitation_adulte_dun_couple_avec_enfant(s),pop_mode_cohabitation_adulte_dune_famille_monoparentale,pop_mode_cohabitation_personne_vivant_hors_famille_dans_un_menage_de_plusieurs_personnes,pop_mode_cohabitation_personne_vivant_seule
count,2767.000000,2767.000000,2767.000000,2767.000000,2767.000000,2767.000000,2767.000000,2767.000000,2767.000000,2767.000000,...,2767.000000,2767.000000,2767.000000,2767.000000,2767.000000,2767.000000,2767.000000,2767.000000,2767.000000,2767.000000
mean,44910.754608,1164.740513,68.879292,74.514275,75.754246,66.522949,52.810264,59.642573,68.075172,72.166245,...,62.708710,567.241417,597.499096,265.824720,66.418865,305.241055,291.524395,43.424286,34.324901,157.982291
std,25169.967666,3568.966562,247.249340,234.201416,218.579746,207.519259,212.669824,250.957831,268.471181,256.891600,...,190.758041,1697.521365,1872.505946,807.728566,265.372942,786.076682,861.673973,168.231710,141.590433,626.257501
min,1030.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24302.000000,180.000000,8.000000,10.000000,10.000000,8.000000,4.000000,5.000000,8.000000,9.000000,...,8.000000,90.000000,89.000000,40.000000,5.000000,50.000000,41.500000,4.000000,0.000000,20.000000
50%,45266.000000,404.000000,22.000000,25.000000,25.000000,20.000000,13.000000,16.000000,21.000000,24.000000,...,20.000000,201.000000,200.000000,95.000000,15.000000,112.000000,104.000000,10.000000,10.000000,42.000000
75%,65434.000000,941.000000,56.000000,64.000000,65.000000,52.000000,36.000000,45.000000,54.000000,60.000000,...,49.000000,465.000000,469.000000,221.000000,44.000000,260.000000,248.000000,30.000000,29.000000,102.000000
max,93073.000000,85640.000000,7101.000000,5927.000000,4928.000000,4455.000000,5287.000000,7317.000000,7962.000000,7627.000000,...,3939.000000,40631.000000,45009.000000,20147.000000,6300.000000,15445.000000,21302.000000,3925.000000,4337.000000,16356.000000

In [24]:
population[population['codgeo'].isin(differences['pop-geo']['diff'])].sort_values('pop_total').tail(20)

,libgeo,codgeo,pop_total,pop_age_0-5,pop_age_5-10,pop_age_10-15,pop_age_15-20,pop_age_20-25,pop_age_25-30,pop_age_30-35,...,pop_age_80+,pop_sexe_homme,pop_sexe_femme,pop_mode_cohabitation_enfant_dun_couple,pop_mode_cohabitation_enfant_dune_famille_monoparentale,pop_mode_cohabitation_adulte_dun_couple_sans_enfant,pop_mode_cohabitation_adulte_dun_couple_avec_enfant(s),pop_mode_cohabitation_adulte_dune_famille_monoparentale,pop_mode_cohabitation_personne_vivant_hors_famille_dans_un_menage_de_plusieurs_personnes,pop_mode_cohabitation_personne_vivant_seule
25161,Romorantin-Lanthenay,41194,16680,913,882,933,939,674,806,895,...,1329,7894,8786,3010,1003,5162,3345,640,525,2995
33288,Verdun,55545,17466,908,900,957,1088,1270,1208,1045,...,1100,8103,9363,2837,1509,4215,3143,950,536,4276
16458,Le Puy-en-Velay,43157,17578,867,808,848,1465,1319,1114,977,...,1292,8122,9456,2480,1407,4069,2743,876,633,5370
19869,Mons-en-Baroeul,59410,20536,1611,1575,1343,1444,1575,1423,1522,...,808,9761,10775,5056,2023,3579,4754,1145,783,3196
8902,Dammarie-les-Lys,77152,21214,1660,1627,1380,1304,1345,1555,1429,...,867,10291,10923,5246,2010,3739,5218,1197,841,2963
4629,Bruay-la-Buissière,62178,22029,1427,1425,1574,1404,1242,1325,1275,...,1556,10221,11808,4765,2046,4710,4854,1258,708,3688
14371,La Garde,83062,23869,1100,1239,1180,1726,1841,1313,1465,...,1699,11341,12528,4482,1580,5933,5115,1174,816,4769
17024,Les Ulis,91692,23893,2125,2072,1805,1488,1423,1688,1808,...,431,11367,12526,6267,2750,3258,6095,1575,1170,2778
30541,Sens,89387,24526,1621,1466,1345,1392,1435,1611,1406,...,1873,11325,13201,4268,2329,5477,4394,1448,720,5890
5720,Cavaillon,84035,25560,1779,1571,1451,1451,1459,1582,1558,...,1616,12060,13500,5444,1984,5668,5812,1346,851,4455
4045,Bourgoin-Jallieu,38053,26540,1845,1724,1696,1530,1896,1985,1988,...,1488,12448,14092,5569,2104,5684,5877,1323,846,5137
24889,Rillieux-la-Pape,69286,30173,2459,2370,2096,2147,1798,1687,1759,...,1232,14300,15873,7941,3215,5273,7576,1767,868,3533
19466,Meyzieu,69282,31416,2222,2222,2294,2275,1724,1487,1891,...,1308,15300,16116,8949,2025,6542,8887,1238,878,2897
30838,Six-Fours-les-Plages,83129,33222,1288,1373,1680,1595,1252,1332,1535,...,2942,15528,17694,5502,1851,10558,6742,1392,1307,5870
24972,Roanne,42187,33804,1824,1636,1747,1996,2516,2061,1754,...,3180,15344,18460,5029,2899,7981,5264,1793,1123,9715
32221,Tremblay-en-France,93073,34218,2534,2684,2577,2274,2191,2127,2081,...,1084,16998,17220,10086,2702,5437,9608,1646,1408,3331
23637,Pontault-Combault,77373,37700,2809,2736,2692,2500,2755,2811,2690,...,870,18563,19137,10588,2749,6711,11087,1609,1402,3554
11182,Fréjus,83061,51998,2899,2742,2638,2724,2256,2908,2957,...,3939,24661,27337,9803,3271,15130,11087,2318,1947,8442
8142,Courbevoie,92026,83697,5828,5490,4928,4425,5221,6924,7724,...,3146,39549,44148,18182,5964,15445,20239,3917,3594,16356
1211,Asnières-sur-Seine,92004,85640,7101,5927,4858,4455,5287,7317,7962,...,2897,40631,45009,20147,6300,14629,21302,3925,4337,15000

In [25]:
geography[geography['nom_commune'] == 'Courbevoie']

Empty DataFrame
Columns: [numero_departement, nom_commune, code_region, nom_region, codgeo, latitude, longitude]
Index: []

### Fusion avec conso

In [26]:
geo_ent_pop_conso = pd.merge(
    left=geo_ent_pop,
    right=conso,
    how='left',
    on=['codgeo']
)

geo_ent_pop_conso.head()

,numero_departement,nom_commune,code_region,nom_region,codgeo,latitude,longitude,libgeo_x,nb_ent,nb_ent_0,...,nombre_de_points_libelle_grand_secteur_agriculture,consommation_libelle_grand_secteur_agriculture,nombre_de_points_libelle_grand_secteur_industrie,consommation_libelle_grand_secteur_industrie,nombre_de_points_libelle_grand_secteur_secteur inconnu,consommation_libelle_grand_secteur_secteur inconnu,nombre_de_points_libelle_grand_secteur_tertiaire,consommation_libelle_grand_secteur_tertiaire,nombre_de_points_libelle_grand_secteur_résidentiel,consommation_libelle_grand_secteur_résidentiel
0,1,Ambléon,82,Rhône-Alpes,1006,45.750000,5.600000,Ambléon,4.0,4.0,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,359.0,2011.133074
1,1,Ambronay,82,Rhône-Alpes,1007,46.000000,5.350000,Ambronay,124.0,87.0,...,34.0,1882.352808,47.0,8284.023918,42.0,543.530616,306.0,10574.308665,13255.0,119865.270574
2,1,Ambutrix,82,Rhône-Alpes,1008,45.933333,5.333333,Ambutrix,48.0,28.0,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,92.0,1544.815201,3240.0,30060.660510
3,1,Ambérieu-en-Bugey,82,Rhône-Alpes,1004,45.950000,5.350000,Ambérieu-en-Bugey,996.0,577.0,...,0.0,0.000000,335.0,38951.348807,468.0,4785.467174,3205.0,360212.285712,99410.0,865563.535292
4,1,Ambérieux-en-Dombes,82,Rhône-Alpes,1005,46.000000,4.900000,Ambérieux-en-Dombes,99.0,73.0,...,76.0,540.749000,0.0,0.000000,144.0,2296.911000,56.0,469.940000,3016.0,21377.598000

In [27]:
print(geo_ent_pop_conso.isna().sum())

numero_departement                                       0
nom_commune                                              0
code_region                                              0
nom_region                                               0
codgeo                                                   0
                                                      ...
consommation_libelle_grand_secteur_secteur inconnu    1615
nombre_de_points_libelle_grand_secteur_tertiaire      1615
consommation_libelle_grand_secteur_tertiaire          1615
nombre_de_points_libelle_grand_secteur_résidentiel    1615
consommation_libelle_grand_secteur_résidentiel        1615
Length: 74, dtype: int64

In [28]:
geo_ent_pop_conso.shape

(33395, 74)

In [29]:
geo_ent_pop_conso = geo_ent_pop_conso.dropna()

geo_ent_pop_conso.shape

(31780, 74)

In [30]:
geo_ent_pop_conso.head()

,numero_departement,nom_commune,code_region,nom_region,codgeo,latitude,longitude,libgeo_x,nb_ent,nb_ent_0,...,nombre_de_points_libelle_grand_secteur_agriculture,consommation_libelle_grand_secteur_agriculture,nombre_de_points_libelle_grand_secteur_industrie,consommation_libelle_grand_secteur_industrie,nombre_de_points_libelle_grand_secteur_secteur inconnu,consommation_libelle_grand_secteur_secteur inconnu,nombre_de_points_libelle_grand_secteur_tertiaire,consommation_libelle_grand_secteur_tertiaire,nombre_de_points_libelle_grand_secteur_résidentiel,consommation_libelle_grand_secteur_résidentiel
0,1,Ambléon,82,Rhône-Alpes,1006,45.750000,5.600000,Ambléon,4.0,4.0,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,359.0,2011.133074
1,1,Ambronay,82,Rhône-Alpes,1007,46.000000,5.350000,Ambronay,124.0,87.0,...,34.0,1882.352808,47.0,8284.023918,42.0,543.530616,306.0,10574.308665,13255.0,119865.270574
2,1,Ambutrix,82,Rhône-Alpes,1008,45.933333,5.333333,Ambutrix,48.0,28.0,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,92.0,1544.815201,3240.0,30060.660510
3,1,Ambérieu-en-Bugey,82,Rhône-Alpes,1004,45.950000,5.350000,Ambérieu-en-Bugey,996.0,577.0,...,0.0,0.000000,335.0,38951.348807,468.0,4785.467174,3205.0,360212.285712,99410.0,865563.535292
4,1,Ambérieux-en-Dombes,82,Rhône-Alpes,1005,46.000000,4.900000,Ambérieux-en-Dombes,99.0,73.0,...,76.0,540.749000,0.0,0.000000,144.0,2296.911000,56.0,469.940000,3016.0,21377.598000

In [31]:
geo_ent_pop_conso.to_csv('clean_data/master.csv', index=False)